<h1>Mens Mental Health Chatrooms</h1>

<p class="lead"><%= link_to 'Add new chat room', new_chat_room_path, class: 'btn btn-primary' %></p>

<br>
<br>
<br>
<ul>
  <div id="chat-rooms"
  <%= render @chat_rooms %>
</div>
</ul>
